body{
    font-family: 'Lato', sans-serif;
    background-color: goldenrod;
}
.container{
    background-color: black;
    text-align: center;
    margin-left: 32%;
    width: 450px;
    border: 2px solid white;
    padding: 50px;
    /* margin-top: -3%; */
}
h1{
    color: rebeccapurple;
    text-align: center;
    font-size: 50px;
    margin-left: 20px;
}
.num{
    display: flex;
    color: white;
    margin-left: -4%;

}
h2{
    font-size: 60px;
    margin-inline: 3px;
    margin-left: 20px;
}
button{
    width: 100px;
    height: 35px;
    background-color: slategrey;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-inline: 8px;
    cursor: pointer;
}
button:hover{
    border: 2px solid white;
}